<div class="one-third column petition">
	<h3>SIGN THIS PETITION</h3>
	<%= form_for(@petition) do |f| %>
		<ul>
			<li><%= f.label :first_name, :class => "text-label" %><%= f.text_field :first_name %></li>
			<li><%= f.label :last_name, :class => "text-label" %><%= f.text_field :last_name %></li>
			<li><%= f.label :email, :class => "text-label" %><%= f.text_field :email %></li>
			<li><%= f.label :address, :class => "text-label" %><%= f.text_field :address %></li>
			<li><%= f.label :city, :class => "text-label" %><%= f.text_field :city %></li>
			<li><%= f.label :state, :class => "text-label" %>
				<%= f.select(:state, [ 	
					['Select', ''],
					['Alabama', 'AL'], 
					['Alaska', 'AK'],
					['Arizona', 'AZ'],
					['Arkansas', 'AR'], 
					['California', 'CA'], 
					['Colorado', 'CO'], 
					['Connecticut', 'CT'], 
					['Delaware', 'DE'], 
					['District Of Columbia', 'DC'], 
					['Florida', 'FL'],
					['Georgia', 'GA'],
					['Hawaii', 'HI'], 
					['Idaho', 'ID'], 
					['Illinois', 'IL'], 
					['Indiana', 'IN'], 
					['Iowa', 'IA'], 
					['Kansas', 'KS'], 
					['Kentucky', 'KY'], 
					['Louisiana', 'LA'], 
					['Maine', 'ME'], 
					['Maryland', 'MD'], 
					['Massachusetts', 'MA'], 
					['Michigan', 'MI'], 
					['Minnesota', 'MN'],
					['Mississippi', 'MS'], 
					['Missouri', 'MO'], 
					['Montana', 'MT'], 
					['Nebraska', 'NE'], 
					['Nevada', 'NV'], 
					['New Hampshire', 'NH'], 
					['New Jersey', 'NJ'], 
					['New Mexico', 'NM'], 
					['New York', 'NY'], 
					['North Carolina', 'NC'], 
					['North Dakota', 'ND'], 
					['Ohio', 'OH'], 
					['Oklahoma', 'OK'], 
					['Oregon', 'OR'], 
					['Pennsylvania', 'PA'], 
					['Rhode Island', 'RI'], 
					['South Carolina', 'SC'], 
					['South Dakota', 'SD'], 
					['Tennessee', 'TN'], 
					['Texas', 'TX'], 
					['Utah', 'UT'], 
					['Vermont', 'VT'], 
					['Virginia', 'VA'], 
					['Washington', 'WA'], 
					['West Virginia', 'WV'], 
					['Wisconsin', 'WI'], 
					['Wyoming', 'WY']]) %>
			</li>	
			<li><%= f.label :zip_code, :class => "text-label" %><%= f.text_field :zip_code %></li>														
			<li class="area"><span class="area-label">Why are you signing? (optional)</span><br/>
					<%= f.text_area :reason, :rows => 5, :cols => 40 %></li>
			<li>&nbsp;</li>
			<li class="submit"><%= f.submit "SIGN", :class => "ui-button-error" %></li>
		</ul>
	<% end %>
</div>
<div class="two-thirds column" id="main">
	<h2>Petition to Congress: Build More Wind Farms</h2>
	<%= image_tag "Pantone_w1280_h1024_cw1280_ch1024_cx1280_cy0.jpg", :size => "300x200", :class => "img-main" %>
	<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam quis risus eget urna mollis ornare vel eu leo. Etiam porta sem malesuada magna mollis euismod. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis risus eget urna mollis ornare vel eu leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

	<p>Aenean lacinia bibendum nulla sed consectetur. Nulla vitae elit libero, a pharetra augue. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Curabitur blandit tempus porttitor. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>

	<p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam quis risus eget urna mollis ornare vel eu leo. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam quis risus eget urna mollis ornare vel eu leo. Nullam quis risus eget urna mollis ornare vel eu leo.</p>

	<p>Vestibulum id ligula porta felis euismod semper. Vestibulum id ligula porta felis euismod semper. Sed posuere consectetur est at lobortis. Maecenas faucibus mollis interdum. Curabitur blandit tempus porttitor.</p>
</div>